body{
    margin:0;
    padding: 0;
}
header{
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    width: 100%;
    height: 75px;
    background-color: rgb(219, 219, 49);
}
li{
    font-weight: 600;
    margin-top: 5px;
}